include ../TextField/TextField.pug
include ../Dropdown/Dropdown.pug
include ../MaskedTF/MaskedTF.pug
include ../DateDropdown/DateDropdown.pug


head
    meta(charset="utf-8")
    title UI Kit    
    link(href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
body
    +text-field('Email')(class="")
    +dropdown('Date')
    +masked-tf('ДД.ММ.ГГГГ')
    +date-dropdown('ДД.ММ.ГГГГ')