.subscription-text-field{
    width: 266px;
    display: flex;
    justify-content: space-between;
}

.purple-arrow{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: relative;
    z-index: 1000;
    background: none;
    border: none;
    top: 5px;
    left: -50px;
}
