.text-field{
    width: 320px;
    height: 44px;
    padding-left: 15px;
    margin-bottom: 10px;
    
    font-family: Montserrat;
    font-size: 14px;
    line-height:  129%;
    
    background: #FFFFFF;
    color: $dark-shade_25;

    border: 1px solid $dark-shade_25;
    border-radius: 4px;
    box-sizing: border-box;
    
    &:hover{
        border: 1px solid $dark-shade_50;
        color: $dark-shade_50;
    }  
}
